<h1>Listing events</h1>
<% if @events.count > 0 %>
  <table>
    <tr>
      <th>Bird</th>
      <th>Location</th>
      <th>Spotter</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <%= render partial: 'event', collection: @events %>
  </table>
<% else %>
  <p>It's a hard knock life.</p>
<% end %>

<br />

<%= link_to 'New Event', new_event_path %>
